<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTestApplication2"
        tools:targetApi="31">
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".NewProfileActivity"
            android:exported="true"
            android:theme="@style/NoTitleBarTheme" />
        <activity
            android:name=".OrderFullDetailsActivity"
            android:exported="true"
            android:theme="@style/NoTitleBarTheme" />
        <activity
            android:name=".OrderSuccessActivity"
            android:exported="true"
            android:theme="@style/NoTitleBarTheme" />
        <activity
            android:name=".OrderConfirmDetailsActivty"
            android:exported="true"
            android:theme="@style/NoTitleBarTheme" />
        <activity
            android:name=".OrdersActivity"
            android:exported="true"
            android:theme="@style/NoTitleBarTheme" />
        <activity
            android:name=".ProfileActivty"
            android:exported="true"
            android:theme="@style/NoTitleBarTheme" />
        <activity
            android:name=".ElectricItemsForm"
            android:exported="true"
            android:theme="@style/NoTitleBarTheme" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true"
            android:theme="@style/NoTitleBarTheme" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/NoTitleBarTheme" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/NoTitleBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>